cssselect
Django>=2.2,<3.0
django-cms>=3.7,<3.8
django-compressor
django-libsass
django-filer
django-rosetta
easy_thumbnails
googlemaps
lxml

-e git+https://github.com/rouxcode/django-text-ckeditor@master#egg=django-text-ckeditor